/* You can add global styles to this file, and also import other style files */
$highlight-color: #ff0707;

body {
  margin: 0;
  background-color: #e5e5e5;
  font-family: Montserrat;
  height: 100vh;
  width: 100vw;
}

h2 {
  font-size: 1em;
}

p {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
